.logo {
    height: 100px;
    width: 100px;
    position: relative;
    left: -25px;
    top: -25px;
    
    
    
}
.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 50px;
      width: 50px;
      padding: 25px;
      position: relative;
      right: -50px; 
      
      
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }